# Ambiente virtual
venv/
env/
.env

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Distribuição / empacotamento
dist/
build/
*.egg-info/

# IDEs
.idea/
.vscode/

# Banco de dados
*.sqlite
*.db

# Logs
*.log

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos temporários
*.swp
*.swo
*~